<div class="aboutUsContainer">
    <!--main grid -->
    <div class="p-grid p-fluid p-jc-center mainGrid ">

        <header class="p-col-12 header">
            <img src="../../assets/images/MAVERIKlogo.png" alt="">
        </header>
        <!---Left column -->

        <div class="p-col-12 companyInfo">
            <div class="infoBox">
                <p class="heading overview">
                    Overview
                </p>

                <p class="info">
                    MCS provides innovative IoT solutions to homes, industrial and mining sites, commercial
                    and government buildings. MCS combines its electrical engineering knowledge and 
                    technology domain prowess to undertake turnkey project execution and proffer consulting 
                    services in the following areas;
                </p>

                <ul class="list">
                    <li class="overview">
                        PLC & SCADA Programming and Integration
                    </li>

                    <li class="overview">
                        Instrumentation and Process Control
                    </li>

                    <li class="overview">
                        Control and MCC Panel Building
                    </li>

                    <li class="overview">
                        CCTV surveillance and Access Control Systems
                    </li>

                    <li class="overview">
                        Traffic and Parking Management Systems
                    </li>

                    <li class="overview">
                        LT Electrical Engineering Systems
                    </li>

                    <li class="overview">
                        Domestic Electrical Wiring and Home Automation
                    </li>

                    <li class="overview">
                        Lighting and HVAC systems
                    </li>

                    <li class="overview">
                        Fire Suppression Systems
                    </li>
                </ul>

                

            </div>

            <div class="infoBox mission p-grid p-jc-center">
                
                <img src="../../assets/images/home/mission-icon.png" alt="" class=" p-offset-2 p-col-4 infoImage">
                <p class="p-col-4 heading mission">
                    Our Mission
                </p>

                <p class="p-col-12 info">
                    At MCS we are committed to providing automation for your home or 
                    business that is user friendly and best fits your personal taste 
                    and priorities. We strive to understand and meet your needs using 
                    high-quality, competitively-priced products with solutions that exceed your 
                    expectations.
                </p>

            </div>

            <div class="infoBox vision  p-grid p-jc-center">

                <img src="../../assets/images/home/vision-icon.png" 
                     alt="values icon" 
                     class=" p-offset-2 p-col-4 infoImage">
                
                <p class="p-col-4 heading vision">
                    Our Vision
                </p>

                <p class="p-col-12 info">
                    To bring comfort, control and convenience to our customers, protecting people 
                    and profits brilliantly; becoming the industry leader and natural first choice 
                    IoT (Internet of things) solution provider.
                    Our values reflect who we are and what we do. They set the foundations for 
                    success and help us deliver our vision to our clients
                </p>
            </div>

            <div class="infoBox values p-grid p-jc-center">
                <img src="../../assets/images/home/values-icon-1.png" 
                     alt="values icon"
                     class="p-offset-2 p-col-4 infoImage">
                
                <p class="p-col-4 heading values">
                    Our Values
                </p>

                <ul class=" p-col-12 list">
                    <h1>Integrity</h1>
                    <li class= "values">
                        Conduct open and transparent relationships with our clients.
                    </li>

                    <li class="values">
                        To maintain a steadfast adherence to our code of ethics and corporate governance 
                        in all our dealings.
                    </li>

                    <li class="values">
                        Uphold our client and staff rights to a just and fair workplace, free from 
                        discrimination, bullying and malpractice.
                    </li>

                    <h1>Commitment</h1>
                    <li class="values">
                        Unwavering dedication to our clients and their values. 
                    </li>

                    <li class="values">
                        Adapt and overcome all obstacles in the path of success.
                    </li>

                    <li class="values"> 
                        Empowerment of our people through reward and recognition of achievement.
                    </li>

                    <h1>Teamwork</h1>
                    <li class="values">
                        Build a unified workforce through commitment and integrity.
                    </li>

                    <li class="values">
                        Foster good working relations and cultural awareness between foreign and 
                        domestic workers.
                    </li>
                    <li class="values">
                        Teamwork is the father of innovation and without innovation we cannot deliver on 
                        our vision
                    </li>

                    <h1>Safety</h1>
                    <li class="values">
                        Our commitment to safety is paramount and is understood as a critical factor in 
                        determining the success of a project
                    </li>

                    <li class="values">
                        All accidents are preventable and we will always strive to reach Zero Harm on all 
                        projects. 
                    </li>

                    <li class="values">
                        Implementation and continual review of our safety management plan is vital in 
                        achieving zero incidents.
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>