<div class="aboutUsContainer">
    <!--main grid -->
    <div class="p-grid p-jc-center mainGrid ">
        <header class="p-col-12 header">
            <img src="../../assets/images/MAVERIKlogo.png" alt="">
        </header>
        <!---Left column -->
        <div class="p-col-8 p-grid companyInfoContainter">
            <p>Company Info</p>

        </div>

        <!--Right Column-->
        <div class="p-col-4 p-grid contactInfoContainer">
            <p>Contact Info</p>
        </div>

    </div>
</div>