<div class="p-grid p-fluid p-jc-between servicesListContainer">
    <!--These cards contains summart inforamtion about a service offered
        these are presented in form of a list but with a side by side partten
    -->

    <div class="p-col-6">
        <p-card styleClass = "p-card-shadow" >
            <ng-template pTemplate = "header">Service Name</ng-template>
            <div class="p-grid p-fluid p-jc-between">
                <div class="p-col-6 icon">
                    Icon
                </div>
                <div class="p-col-6 information">
                    Information
                </div>
    
            </div>
        </p-card>
    
    </div>
    
    <div class="p-col-6">
       
        <p-card styleClass = "p-card-shadow" >
            <ng-template pTemplate = "header">Service Name</ng-template>
            <div class="p-grid p-fluid p-jc-between">
                <div class="p-col-6 icon">
                    Icon
                </div>
                <div class="p-col-6 information">
                    Information
                </div>
    
            </div>
        </p-card>
    
    </div>

</div>
