<div class="p-grid p-jc-center p-fluid engineeringContainer">

    <nav class="p-col-12 p-grid p-fluid p-jc-center navigationPanel">
           
        <a href="" class="p-col-3 quickLink">
            <div class="linkImage control">

            </div>
            <p>Instrumentation and Control</p>
        </a>

        <a href="" class="p-col-3 quickLink">
            <div class="linkImage automation">

            </div>
            <p>Motor Control and Automation</p>
        </a>

        <a href="" class="p-col-3 quickLink">
            <div class="linkImage panel">

            </div>
            <p>Electrical LT Reticulation</p>
        </a>

        <a href="" class="p-col-3 quickLink ">
            <div class="linkImage engineering">

            </div>
            <p>Engineering</p>
        </a>

    </nav>
    <!--BLocks of information about the engineering department-->
    <header class="p-col-12 p-grid  p-fluid p-jc-center ">
        Home & Building Automation
    
        
        
    </header>



    <!--Smart Home  -->
    <div class="p-col-12 p-grid p-fluid p-jc-center infoCard">
        <div class="p-col-6 imageBox home">
            
        </div>
        <div class="p-col-6 p-fluid infoBox">
            <div class="nameBox">
                Smart Home Automation
            </div>
            MCS Smart Home solutions for the residential market allows customers to 
            control every aspect of a home including lighting, air conditioning, motorized 
            curtains, security, irrigation, infraredmultimedia, multi-room audio, and 
            entertainment systems, voice activation and remote home monitoring leveraging 
            zig-bee and z-wave technologies.
        </div>
        
    </div>

     <!--Smart Hotel  -->
     <div class="p-col-12 p-grid p-fluid p-jc-center infoCard">
        <div class="p-col-6 imageBox hotel">
            
        </div>
        <div class="p-col-6 infoBox">
            <div class="nameBox">
                Smart Hotel Solutions
            </div>
            MCS Hotel Solutions enable the hospitality industry to improve 
            operational efficiency and reduce energy costs while at the same time providing 
            total comfort and luxury to the guests.In room controls feature integrated 
            systems for lighting, temperature, curtains, entertainment and security.
        </div>
        
    </div>

    <!--Smart Office  -->
    <div class="p-col-12 p-grid p-fluid p-jc-center infoCard">
        <div class="p-col-6 imageBox office">
            
        </div>
        <div class="p-col-6 infoBox">
            <div class="nameBox">
                Smart Office Solutions
            </div>
            MCS Office Solutions start with advanced conference room solutions and traverse 
            the entire office. This includes automation of electrical devices within 
            the conference rooms such as lighting and curtains, motorization and control of 
            audio visual equipment and distribution systems and room scheduling.
        </div>
        
    </div>
</div>