header{
    /*position: fixed;*/

    text-align: center;
    border-top: 1px  solid lightgrey;
    border-bottom: 1px  solid lightgrey;
    background-color: #c6c6c956;

    font-size: xx-large;
    color: #85b1d3;
    padding-left: -5%;
    margin-top: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

/****************** nagivation styles *************************/

a.quickLink{
    min-width: 200px;
    /*color: #424242;*/
    color: #aaaaad;
    display: inline-flex;
    text-decoration: none;
}

a:hover{
    background-color: #EEEEEE;
}

a.active{
    color: #4baaf5;
}


p{
    display: inline-flex;
    padding-top: 20px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;

}

div.linkImage{
    width: 75px;
    height: 75px;
    border-radius: 75px;
    margin-right: 10px;
    background-color: aliceblue;
    display: inline-flex;
    background-image: url("../../../assets/images/thumbnails/control-thumbnail.png");

}

div.control{
    background-image: url("../../../assets/images/thumbnails/control-thumbnail.png");
}

div.automation{
    background-image: url("../../../assets/images/thumbnails/home-automation-thumbnail-1.png");

}

div.security{
    background-image: url("../../../assets/images/thumbnails/security-and-safety-thumbnail.png");

}

div.engineering{
    background-image: url("../../../assets/images/thumbnails/engineering-thumbnail.png");
}

/*******************Section Styles *************************************/

div.infoCard{
    margin-top: 2%;
    padding-bottom: 2%;
   

}

div.imageBox{
    border-radius: 10px;
    box-shadow: #607d8b;
    margin-right: 48px;
    margin-left: 10px;
    /*padding-top: 20%;*/
    
}

div.nameBox{
   /* background-color: #b9b7b7;*/
    text-align: center;
    font-size: larger;
    font-weight: 600;
    opacity: 0.5;
    color: #607d8b;

    margin-bottom: 20px;

}

div.infoBox{
    padding-top: 5%;
    max-width: 600px;
    min-width: 300px;
    font-size: normal;
    text-align: justify;
    font-weight: lighter;
    color: rgb(173, 172, 172);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

div.home{
    background-image: url('../../../assets/images/maverick-smart-home-pic-small.jpg');
    width: 400px;
    height: 300px;
}

div.hotel{
    background-image: url("../../../assets/images/automation/smart-hotel.jpg");
    width: 400px;
    height: 300px;
}

div.office{
    background-image: url("../../../assets/images/automation/smart-office.jpg");
    width: 400px;
    height: 300px;
}

div.testGrid{
    padding-top: 10%;
}

div.testBox{
    min-width: 400px;
    width: 600px;
}

