<div class="servicesContainer">
    <header>
    Our Services 
    </header>
    <!--Loaded components (pages) appear here-->
    <router-outlet></router-outlet>

    <footer>
        More Services
    </footer>

    <section class="p-grid p-fluid p-jc-between moreServices">
        <div class="p-col-4 serviceCard biometrics">
            <p class="serviceGroupName">Safety and Secuity</p>
            <p class="name">Biometric Security Systems</p>

        </div>

        <div class="p-col-4 serviceCard">
        
            service 2 
        </div>

        <div class="p-col-4 serviceCard">
            service 3 

        </div>
        <div class="p-col-4 serviceCard">
            service 4 

        </div>
    </section>
</div>
