<div class="landingPageContainer p-grid p-jc-between">

    <!--Logo container-->
    <div class="logoContainer p-col-6">
        <p>LOGO</p>
    </div>

    <div class="menuButtonsContainer p-col-6 p-grid">

        <div class="menuButton p-col-3">
            <a routerLink = "/home" routerLinkActive = "active">
                Home
            </a>
        </div>
        <div class="menuButton p-col-3">
            <a routerLink = "">Products</a>
        </div>
        <div class="menuButton p-col-3">
            <a routerLink="">Services</a>
        </div>
        <div class="menuButton p-col-3">
            <a  routerLink = "">Find Us</a>
        </div>

    </div>
    <!--Routing to various Elements -->


</div>
