<div class="homeContainer p-grid  p-fluid p-jc-center">
    
    <div class="imageContainer p-col-12 p-grid p-fluid p-jc-center">
       <div class="info p-col-8 p-jc-center">
           <p class="welcome">
               Welcome to      
           </p>
           <div class="name">
                <p class="name"> Maverick Control Systems</p>

           </div>
           <p class="description">
               We at Marverick (MCS) speciliaze in providing innovative Internet of Things (IoT) solutions to Homes, Industrial and Mining sites, Commercial
               and Government buildings. Combining our Electrical Engineering knowledge and Technology-domain prowess we are able to undertake turnkey
               project execution and proffer consulting services
           </p>
       </div>
    </div>

    <p-card class="p-col-12 p-grid p-fluid p-jc-between infoCard"
            [style] = "{ 
                        'margin-top': '-30%', 
                        'border-top-left-radius':'10%', 
                        'border-top-right-radius': '10%'}">

        <!-- Main  Card Header-->
        <ng-template pTemplate = "header" class="p-col-12">
            <p class="header">Our Services</p>
        </ng-template>

        <!--Card grid containing child grids that displays brief descriptions of the services offered-->
        <div class="p-col-12 p-grid p-fluid-jc-center  parentContainer">

            <!-- Child Card -->
            <p-card styleClass = "p-card-shadow" class="p-col-4 p-grid p-fluid p-jc-between">
                <div class="p-grid p-fluid p-jc-between">
                    <div class="p-col-4 cardIcon">
                        <img src="../../assets/images/maverick-eng-icon.png" alt="">
                    </div>
                    <div class="p-col-7 cardTitle">
                        Engineering
                    </div>
                    <div class="p-col-12 cardDescription">
                        <p>
                            We at MCS provide Engineering services including Instrumentation and Control,
                            Automation and Control, LT reticulation and Panel Building as well as
                            Industrial Lighting.
                        </p>
                        <div class="more"><a routerLink="/services/engineering" >Find out more >></a></div>
                    </div>
                </div>
            </p-card>

            <!-- Child Card -->
            <p-card styleClass = "p-card-shadow" class="p-col-4">
                <div class="p-grid p-fluid p-jc-between">
                    <div class="p-col-4 cardIcon">
                        <img src="../../assets/images/maverick-home-auto-icon.png" alt="">
                    </div>
                    <div class="p-col-7 cardTitle">
                        Home and Building Automation
                    </div>
                    <div class="p-col-12 cardDescription">
                        <p>
                            We also provide Home and Building Automation solutions. This includes but
                            not limited to Smart Home Systems and Office Solutions. This involves automation
                             of every aspect of a building including lighting, air conditioning, 
                             motorized curtains e.t.c.
                         </p>
                         <div class="more"><a routerLink="/services/automation">Find out more >></a></div>
                    </div>
                </div>
            </p-card>

            <!-- Child Card -->
            <p-card styleClass = "p-card-shadow" class="p-col-4">
                <div class="p-grid p-fluid p-jc-between">
                    <div class="p-col-4 cardIcon">
                        <img src="../../assets/images/maverick-security-icon-1.png" alt="">
                    </div>
                    <div class="p-col-7 cardTitle">
                        Security and Safety Solutions
                    </div>
                    <div class="p-col-12 cardDescription">
                        <p>
                            We also provide both software and physical security solutions for 
                            homes, offices as well as industries. These include but not limited
                            to CCTV surviallance, Electronic locking systems, Visitor management
                            systems e.t.c.
                        </p>
                        <div class="more"><a routerLink="">Find out more >></a></div>
                    </div>
                </div>
            </p-card>

            <p-card styleClass = "p-card-shadow" class="p-col-4">
                <div class="p-grid p-fluid ">
                    <div class="p-col-4 cardIcon">
                        <img src="../../assets/images/maverick-transport-icon.png" alt="">
                    </div>
                    <div class="p-col-7 cardTitle">
                        Traffic, Transport and Parking Management
                    </div>
                    <div class="p-col-12 cardDescription">
                        <p>
                            With the siginficant growth of cities regionally arises the need for 
                            Traffic and Transport systems that a flexible and adaptable. At MSC we
                            are to provide installation and maintenance services including the 
                            equipment
                        </p>
                        <div class="more"><a routerLink="">Find out more >></a></div>
                    </div>
                </div>
            </p-card>
        </div>
    </p-card>
    
</div>
