<div class="p-grid p-jc-center engineeringContainer">
    <!--BLocks of information about the engineering department-->
    <header class="p-col-12">Engineering</header>

    <!--Instrumentation and Control -->
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-8 imageBox control">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Instrumentation and Control
            </div>
            We offer our clients instrumentation design, supply, 
                installation, calibration and software integration services 
                allowing their infrastructure to achieve maximum process 
                results. We offer services across a range of applications 
                including flow, pressure, temperature, vibration, level, 
                density, viscosity, wireless and HART control.
        </div>
        
    </div>

    <!--Electrical LT reticulation and Panel building -->
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-8 imageBox panels">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Electrical LT reticulation and Panel building
            </div>
            Electrical maintenance services incorporating labour hire, 
            electrical design and drawing, LT reticulation, cable sizing, 
            laying and panel building are all MCS's specialty.
        </div>
    
    </div>

    <!---Automation and Motor Control-->
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-8 imageBox automation">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Automation and Motor Control     
            </div>
            PLC, HMI, SCADA and DCS control, let our team design 
            and implement the correct solution for your business.
        </div>
        
    </div>

</div>