<div class="p-grid p-jc-center engineeringContainer">

    <!--Quick Navigation Panel -->
    <nav class="p-col-12 p-grid p-fluid p-jc-center navigationPanel">
           
        <a href="" class="p-col-3 quickLink">
            <div class="linkImage control">

            </div>
            <p>Instrumentation and Control</p>
        </a>

        <a href="" class="p-col-3 quickLink">
            <div class="linkImage automation">

            </div>
            <p>Motor Control and Automation</p>
        </a>

        <a href="" class="p-col-3 quickLink">
            <div class="linkImage panel">

            </div>
            <p>Electrical LT Reticulation</p>
        </a>

        <a href="" class="p-col-3 quickLink ">
            <div class="linkImage engineering">

            </div>
            <p>Engineering</p>
        </a>

    </nav>
    <!--BLocks of information about the security department-->
    <header class="p-col-12">Security & Safety Solutions</header>

    <section class="p-col-12 intro">
        <h1 class="heading">
            Security & Electronic Gates
        </h1>

        <p class="intro">
            MCS provides vehicle Parking Control systems, services and solutions. We offer reliable and 
            inter operable security options to control access, promote privacy, increase security, and 
            enhance property value. Our perimeter protection solutions are used to secure property 
            boundaries and better manage movement in and out of your place of business or residence, 
            while allowing easy access for authorized personnel and visitors.
        </p>

    </section>
    <!--Perimeter Protection -->
    <section class="p-col-12 p-grid p-fluid p-jc-center infoCard">
        <div class="p-col-6 imageBox eGate">
            
        </div>
        <div class="p-col-6 p-fluid infoBox">
            <div class="nameBox">
                Perimeter Protection
            </div>
            Our subject matter experts design, install, and commission a full spectrum of solutions to 
            include: Gate Automation, photo-electric sensors, automobile access systems, outdoor video 
            and more in order to improve your security and manage traffic flow. Our tailored parking 
            control solutions and Electronic Gates are suitable for commercial, industrial, residential, and 
            government facilities.
        </div>
    </section>

    <!-- Access Control Intro -->
    <section class="p-col-12 intro">
        <h1 class="heading">
            Surveillance & Access Control
        </h1>

        <p class="intro">
            We design, install and maintain customized security systems that integrate physical security 
            devices, electronic technology, and information (IT) systems with operational systems such 
            as building automation and human resources. This convergent approach streamlines 
            management and increases capabilities. As an independent systems integrator, we remain 
            vendor-neutral and clearly focused on providing the right solution for each client, whether 
            they need a complete turnkey solution, technical services or consulting services.
        </p>

        <p class="intro">
            Let us help safeguard your personal and profession assets with the latest and most reliable 
            security solutions technologies available.You need a company that can make quick decisions 
            and has a can-do attitude. When it comes to minimizing your company’s risk and 
            maximizing your budget, MCS will provide the exceptional service and reliability you 
            deserve. Your company needs a “trusted advisor” that can recommend the latest in solutions 
            and technologies.

        </p>
    </section>

    <!-- Access Control Info -->
    <section class="p-col-12 p-grid p-fluid p-jc-center infoCard">
        <div class="p-col-6 imageBox accessControl">
            
        </div>
        <div class="p-col-6 p-fluid infoBox">
            <div class="nameBox">
                Access Control
            </div>
            Access control means ensuring that employees and visitors can gain access to the areas 
            needed at the right times with minimal barriers. We understand that you need to regulate 
            movement throughout your facility – you need to let the right people in and keep the wrong 
            people out when it matters most. MCS offers systems that provide an audit trail and 
            documentation of who was in what parts of your facility, and when. In addition to this added 
            insight, our access control system help avoid the need for key management, as cards can be 
            reprogrammed as needed.
        </div>
    </section>






    <!-- Perimeter Protection 
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-12 infoBox  extraInfo">
            <div class="nameBox h1">
                Perimeter Proctection
            </div>
            MCS provides vehicle Parking Control systems, services and solutions. We offer reliable and 
            inter operable security options to control access, promote privacy, increase security, and 
            enhance property value. Our perimeter protection solutions are used to secure property 
            boundaries and better manage movement in and out of your place of business or residence, 
            while allowing easy access for authorized personnel and visitors.
        </div>
        <div class="p-col-8 imageBox eGate">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Security and Electronic Gates
            </div>
            Our subject matter experts design, install, and commission a full spectrum of solutions to 
            include: Gate Automation, photo-electric sensors, automobile access systems, outdoor video 
            and more in order to improve your security and manage traffic flow. Our tailored parking 
            control solutions and Electronic Gates are suitable for commercial, industrial, residential, and 
            government facilities.

        </div>

        <div class="p-col-12 infoBox extraInfo">
            MCS offers free consultations to determine your level of security and privacy requirements. 
            As a result, we determine the most suitable type of Security Gates and access control system 
            to meet your day-to-day needs. Solutions include:
            <ul class="list">
                <li>Keypad Access</li>
                <li>Remote control Access from vehicle</li>
                <li>Card Reader Access</li>
                <li>Safety Loops and Detectors</li>
                <li>Monitor and Control Visitors and deliveries through CCTV or software packages</li>
                <li>Intercom or Telephone Communication Systems</li>
            </ul>
        </div>
        
    </div>

    Electrical LT reticulation and Panel building 
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-8 imageBox cctv">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Surveillance and Access Control Systems
            </div>
            We design, install and maintain customized security systems that integrate physical security 
            devices, electronic technology, and information (IT) systems with operational systems such 
            as building automation and human resources. This convergent approach streamlines 
            management and increases capabilities. As an independent systems integrator, we remain 
            vendor-neutral and clearly focused on providing the right solution for each client, whether 
            they need a complete turnkey solution, technical services or consulting services.
        </div>
    
    </div>

    Automation and Motor Control
    <div class="p-col-12 p-grid p-fluid p-jc-between infoCard">
        <div class="p-col-8 imageBox automation">
            
        </div>
        <div class="p-col-4 infoBox">
            <div class="nameBox">
                Automation and Motor Control     
            </div>
            PLC, HMI, SCADA and DCS control, let our team design 
            and implement the correct solution for your business.
        </div>
        
    </div>
    -->

</div>